body{
  background-image: url('./../public/img/mandala-gif.gif');  
  background-size: 480px;
  background-repeat: round;
}
.fondo-body{background: linear-gradient(to right, #000000, #28435c, #000000);}
.fondo{
  background: linear-gradient(to right, #000000, #1d2e41, #000000);
}
.container{
  background-color: transparent !important;
  max-width: 980px;
}
.logo{
  height: 60px;
}
.ancho-maximo{
  position: fixed;
  top: 0;
  /* max-width: 1000px !important; */
}

.fondo-presentacion{
  background-image: url('./../public/img/mandala-gif.gif');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.profile-picture{
  max-height: 350px;
}
.logo-tech:hover{
  background-color: #4e5964;
  border: 1px solid white;
  border-radius: 5px;
}